.main
{
 overflow: hidden;
 background-color: #333;
}

.main a
{
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 5px 20px;
 text-decoration: none;
 font-size: 25px;
}

.main a:hover
{
 background-color: #ddd;
 color: black;
}