{% extends 'index.html' %}

{% block head %}
    <style>
        table,th,td,tr{
        border: 1px solid black;
        }

        </style>
{% endblock %}

{% block body %}
<table>
            <tr>
                <th>MOVIE NAME</th>
                <th>MOVIE ACTOR</th>
                <th>MOVIE YEAR</th>
                <th>GENRE</th>
                <th>Price</th>

            </tr>
            {% for a in availablename %}
            <tr>
                <td>{{a.name}}</td>
                <td>{{a.actor}}</td>
                <td>{{a.year}}</td>
                <td>{{a.genre}}</td>
                <td>{{a.price}}</td>

            </tr>
            {% endfor %}
</table>
{% endblock %}
